<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Energy Efficiency Calculator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #ffffff;
      }
      .nav {
          background-color: #222222;
}
      footer{
        position:relative;
        bottom:0;
        background: #1d4355;
        height: auto;
        width:100vw;
        font-family: sans-serif;
        padding-top:5px;
        color:#fff;
    }
    .footer-content{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    </style>
  </head>
<body>
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="#">EffiTech.</a>
        <a class="nav-link" href="#" style="margin-left:auto">Home</a>
        <a class="nav-link" href="#" >Wind Turbine</a>
        <a class="nav-link" href="#">SolarCell</a>
        <a class="nav-link" href="#" >About Us</a>
    </nav>
    <img src="img1.jpg" width="100%" style="margin-top: 0px">
    <div class="container">

<!--      <div class="text-center mt-1 mb-4">
        <h1
          style="
            font-family: 'Garamond', serif;
            font-size: 50px;
            color: #000000;
            font-weight: bold;
          "
        >
          <a href="/" id="website-heading">Energy Efficiency Calculator</a>
        </h1>
      </div>
      -->
    </div>
<!--    <ul class="nav nav-pills nav-fill">
      <li class="nav-item ms-2 me-1">
        <a
          class="nav-link"
          href="/wind_turbine"
          style="
            font-family: 'Garamond', serif;
            font-size: 30px;
            background-color: #0000ff;
            color: #000000;
            font-weight: bold;
          "
          >Wind Turbine</a
        >
      </li>
      <li class="nav-item ms-1 me-2">
        <a
          class="nav-link"
          href="/solar_cell"
          style="
            font-family: 'Garamond', serif;
            font-size: 30px;
            background-color: #0000ff;
            color: #000000;
            font-weight: bold;
          "
          >Solar Cell</a
        >
      </li>
    </ul>
    -->
    <div class="text-center mt-6">
      <h4
        style="
          font-family: 'Garamond', serif;
          font-size: 30px;
          color: #000000;
          font-weight: bold;
          margin-top: 20px;
        "
      >
        Maximize Sustainability, Minimize Costs
      </h4>
    </div>
    <div class="text-center mt-4">
      <p
        style="
          font-family: 'Arial', serif;
          font-size: 20px;
          color: #000000;
          margin: 10px 25px 20px;
        "
      >
        Optimize energy usage effortlessly with our web-based Energy Efficiency
        Calculator. Tailored for diverse systems, it provides quick insights,
        enabling sustainable and cost-effective decisions.
      </p>
    </div>

    <div class="text-center mt-6">

      <h4
        style="
          font-family: 'Garamond', serif;
          font-size: 30px;
          color: #000000;
          font-weight: bold;
          margin-top: 30px;
        "
      >
        SolarCell Efficiency
      </h4>
                    <img alt="SolarPanel" src="solar.png"  style="float:right; object-fit: fill; min-width: 150px; max-height: 200px" >

    </div>
    <div class="text-justify mt-4">
            <p style="
          font-family: 'Arial', serif;
          font-size: 20px;
          color: #000000;
          margin: 20px 25px 0;
        ">
                      Want to install a solar panel at your home? Worried about its efficiency?
                Worry not! Find how efficient your installation would be. Just enter
                the environmental parameters like temperature, humidity, cloud cover,
                solar radiation etc. and find out how much you could save in your electricity
                costs.
                <br><br><button type="button" class="btn btn-dark">Find Out Now!</button>
            </p>


  </div><br><br><br>
    <div class="text-center mt-6">
      <h4
        style="
          font-family: 'Garamond', serif;
          font-size: 30px;
          color: #000000;
          font-weight: bold;

        "
      >
        Wind Turbine Efficiency
      </h4>
    </div>

    <div class="text-justify mt-4">
            <img alt="Windmill" src="windmill.png" style="float: right; object-fit: fill; min-width: 150px; max-height: 250px;">

        <p style="
          font-family: 'Arial', serif;
          font-size: 20px;
          color: #000000;
          margin: 20px 25px 20px;
        ">

                Our model simplifies the process of assessing average wind turbine efficiency
                that on can achieve given the average or present environmental parameters like
                wind speed, humidity, temperature, etc. of the installation site. Say goodbye to
                complex calculations and hello to streamlined efficiency analysis with our
                intuitive tool.

              <br> <br> <button type="button" class="btn btn-dark">Find Out Now!</button>
            </p>


  </div><br><br><br>
    <footer>
            <div class="footer-content">
                <p style="
                    font-family: 'Arial', serif;
                    font-size: 20px;
                    color: #ffffff;
                    margin-left: 100px;
                    margin-right: 100px;
                ">
                    We are a group of dedicated students from ZHCET(Zakir Husain College of
                    Engineering and Technology with a passion for innovation and sustainable technology.
                    Our journey began with a shared vision to revolutionize the energy sector by enhancing the
                    efficiency of wind turbines, transformers and various other systems.<br><br>
                    <button type="button" class="btn btn-secondary btn-lg">Email Us: example@example.com</button>&ensp;&ensp;&ensp;&ensp;
                    <button type="button" class="btn btn-secondary btn-lg">Contact us: +91 12345 67890</button>

                </p>
            </div>
        </footer>
  </body>
</html>
